@import './base.css';

#app {
  width: 100%; /* Ensures it spans the full width of the screen */
  margin: 0; /* Removes centering */
  padding: 2rem; /* Optional: Keep padding for spacing */
  font-weight: normal;
}


a,
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
  padding: 3px;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}

@media (min-width: 1024px) {
  body {
    display: flex;
    place-items: center;
  }

  #app {
    min-height: 100vh;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr)); /* Flexible grid */
    width: 100%; /* Spans the full width */
    padding: 0; /* Optional: Adjust or remove padding */
    gap: 1rem; /* Optional: Add spacing between grid items */
  }
  
}
